.login{
    width: 50%;
    padding: 10px;
    text-align: center;
    background-color: rgb(241, 235, 223);
    vertical-align: top;
    display: inline-block;
}

.sign{
    width: 50%;
    padding: 10px;
    text-align: center;
    background-color:rgb(241, 235, 223);
    vertical-align: top;
    display: inline-block;
}

.login form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .bck{
    background-image: url('images/expn.jpg'); /* Replace with your image file path */
    background-size: cover;
    background-position: center;
  }
  
  .login label {
    display: block;
    margin-bottom: 8px;
  }
  
  .login input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .login button {
    width: 100%;
    padding: 12px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login button:hover {
    background-color: #45a049;
  }
  
  .sign form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .sign form label {
    display: block;
    margin-bottom: 8px;
  }
  
  .sign form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .sign form button {
    width: 100%;
    padding: 12px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .sign form button:hover {
    background-color: #2980b9;
  }

  /* Header styles */
header {
    background-color: #032a45;
    color: #fff;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  header h1 {
    margin: 0;
    font-size: 2em;
  }
  
  header p {
    font-size: 1.2em;
    margin-top: 8px;
  }
  
  /* Navigation styles */
  .navbar {
    background-color: #2c3e50;
    padding: 10px;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  

/* Intro styles */
.intro {
  background-color: #eef2f4;
  color: #5a88f2;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.intro h2 {
  margin: 0;
  font-size: 2em;
}

/* Form styles for delete data */
.del_data form {
    max-width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .del_data form label {
    display: block;
    margin-bottom: 8px;
  }
  
  .del_data form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .del_data form button {
    width: 100%;
    padding: 12px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .del_data form button:hover {
    background-color: #c0392b;
  }
  
  /* Deletedata styles */
.deletedata {
    text-align: center;
    margin-top: 20px;
  }
  
  .deletedata button {
    padding: 12px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .deletedata button:hover {
    background-color: #c0392b;
  }
  
  /* Update styles */
.update {
    text-align: center;
    margin-top: 20px;
  }
  
  .update button {
    padding: 12px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .update button:hover {
    background-color: #2980b9;
  }

  /* Add_data styles */
.add_data {
    text-align: center;
    margin-top: 20px;
  }
  
  .add_data button {
    padding: 12px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .add_data button:hover {
    background-color: #27ae60;
  }
  

.list {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .list button {
    padding: 12px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .list button:hover {
    background-color: #2980b9;
  }

  /* Add_data form styles */
.add_data form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .add_data form label {
    display: block;
    margin-bottom: 8px;
    color: #333;
  }
  
  .add_data form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .add_data form button {
    width: 100%;
    padding: 12px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .add_data form button:hover {
    background-color: #27ae60;
  }

  .form_box {
    margin-top: 10px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    list-style-type: none; /* Display as a list */
  }
  
  .form_box .row {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .form_box h5 {
    font-size: 18px;
    color: #333;
    margin: 0;
  }
  
  .form_box p {
    font-size: 16px;
    color: #4400ff;
    margin: 8px 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
  }
  
  
  /* Update_data form styles */
.update_data {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .update_data form label {
    display: block;
    margin-bottom: 8px;
    color: #333;
  }
  
  .update_data form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .update_data form button {
    width: 100%;
    padding: 12px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .update_data form button:hover {
    background-color: #2980b9;
  }
  